body, html {
  margin: 0;
  padding: 0;
}

#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

#loader {
  text-align: center;
  overflow: hidden;
}

.loader-logo-container {
  position: relative;
  width: 310px; 
  height: 310px; 
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  transition: clip-path 3s ease; 
}

.loader-logo {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.loader-text {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 10px;
}
